<%- contentFor('body') %>
<div class="container">
		<div class="content">
			<img src="img/logo.png"style="width:300px;height:300px;border-radius: 500px;">
			<div class="login">	
				<form>
					<fieldset>
						<input type="text" name="email" placeholder="Email"><br>
						<input type="password" name="senha" placeholder="Senha"><br><br>
						<button type="button" style="	
					
					font-family: Arial, Helvetica, sans-serif;
					font-size: 14px;
					color: #ffffff;
					padding: 10px 20px;
					background: -moz-linear-gradient(
						top,
						#542c08 0%,
						#6b522c 25%,
						#856f49 75%,
						#6b3511);
					background: -webkit-gradient(
						linear, left top, left bottom,
						from(#542c08),
						color-stop(0.25, #6b522c),
						color-stop(0.75, #856f49),
						to(#6b3511));
					-moz-border-radius: 15px;
					-webkit-border-radius: 15px;
					border-radius: 15px;
					border: 3px solid #612404;
					-moz-box-shadow:
						0px 1px 3px rgba(82,32,5,0.5),
						inset 0px 0px 10px rgba(107,73,60,0.7);
					-webkit-box-shadow:
						0px 1px 3px rgba(82,32,5,0.5),
						inset 0px 0px 10px rgba(107,73,60,0.7);
					box-shadow:
						0px 1px 3px rgba(82,32,5,0.5),
						inset 0px 0px 10px rgba(107,73,60,0.7);
					text-shadow:
						0px -1px 0px rgba(94,68,51,0.4),
						0px 1px 0px rgba(77,49,8,0.3);


" 	



						>Login</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>