<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style="background-image: url(img/cafe.png);
			 position: relative;
			 background-size: 100%;
			 background-repeat: no-repeat;"	>

<%-body%>
	
</body>
</html>